<p>Olá, <strong><%= @user.email %></strong>.</p>

<p>Você recebeu um convite para concluir seu cadastro como responsável da organização <strong><%= @organization.name %></strong>.</p>

<p>Para concluir o cadastro, confirme seu e-mail no link abaixo:</p>

<p>
  <a href="<%= @confirmation_url %>">Concluir cadastro</a>
</p>

<p>Se o botão não funcionar, use este link:</p>

<p><%= @confirmation_url %></p>
